*.Rproj
.Rproj*
.Rapp.history
.RData
.Rhistory
.Rproj.user

figures/*
!figures/figure2.jpeg
!figures/figure4.jpeg

tables/*

fix-W-gower/
packrat/lib*/

data/*
!data/ilc-data-2015-08.rda
!data/W.gower.fix.rda
